
<% if user_signed_in? %>
<% if @whitelist == [] %>
You currently have not listed any friends
<% else %>
<h2> Your Current Friend List</h2>
<% @whitelist.each do |white| %>
<ul>
		<li><%= white.friend %> - <%= white.number %>, <%= link_to('edit friend', whitelist_edit_path(white.id)) %>, <%= link_to('delete friend', whitelist_destroy_path(white.id))%> </li>
	
	</ul>


<% end %>
<% end %>
<h2>Create a friend</h2>

<%= form_tag("/whitelist/create", :method => "POST") do %>
  Friend<br>
  <%= text_field_tag("friend") %><br>
  Number<br>
  <%= text_field_tag("number") %><br><br>
  <%= submit_tag("create")%>
  <% end %>
<br>
<%= link_to 'hashblue authentication', hashblue_path %>
<br>
<br>
<%= link_to 'bluevia authentication', bluevia_auth_path %>
<br>
<br>
<%= link_to 'Test run', hashblue_run_path %>
<%else%>
You need to sign in
<%end%>
