
<% if user_signed_in? %>
<% if @whitelist == [] %>
You currently have not listed any friends
<% else %>
<h2> Your Current Friend List</h2>
<% @whitelist.each do |white| %>
<ul>
		<li><%= white.friend %> - <%= white.number %>, <%= link_to('edit friend', whitelist_edit_path(white.id)) %>, <%= link_to('delete friend', whitelist_destroy_path(white.id))%> </li>
	
	</ul>


<% end %>
<% end %>
<h2>Create a friend</h2>

<%= form_tag("/whitelist/create", :method => "POST") do %>
  Friend<br>
  <%= text_field_tag("friend") %><br>
  Number<br>
  <%= text_field_tag("number") %><br><br>
  <%= submit_tag("create")%>
  <% end %>


 <%mod = @user.auths.first%>
<%if mod == nil || mod.hb_token == nil%>
<br>
Please Authenticate with hashblue:
<br>
<%= link_to 'hashblue authentication', hashblue_path %>
<%end%>
<%if mod == nil || mod.bluevia_token == nil%>
<br>
<br>
Please Authenticate with BlueVia
<br>
<%= link_to 'bluevia authentication', bluevia_auth_path %>
<%end%>

<%if mod == nil || mod.bluevia_token = nil && mod.hb_token = nil %>
You need to sign in
<%else%>
<%mod = @user.auths.first%>
<%if mod.run_flag == false %>
<br>
<br>
<%= link_to 'Turn on', main_loop_on_path %>
<%else%>
<br>
<br>
<%= link_to 'Turn off', main_loop_off_path %>
<%end%>
<%end%>
<!-- # <%= link_to 'Test run', hashblue_run_path %> -->

<%end%>
