<h2><%= t('.contact_us') %></h2>
<%= semantic_form_for @contact, :url => contacts_path do |f| %>

<table>
   
    <tr>
        <td class="label">Your E-mail:</td>
        <td><%= f.text_field :email %></td>
    </tr>
    <tr valign="top">
        <td class="label">Your Message:</td>
        <td><%= f.text_field :message %></td>
    </tr>
    <tr>
        <td></td>
        
    </tr>    
</table>

  <%= f.commit_button t('.submit'), :button_html => { :alt => t('.submit'), :id => 'contact_us_contact_submit', :title => t('.submit') } %>
<% end %>