
<html>
<body>
<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Where <span class="logo_colour">Am I</span></a></h1>
          <h2>Hashblue Text Service</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="about_us.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Service to be launced Soon</h4>
        <h5>November 7th, 2011</h5>
        <p>2011 sees the launch of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        
        
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->

		<% if user_signed_in? %>
  <li>
  <%= link_to('Home', main_index_path) %>     
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  
<% end %>
		<% if user_signed_in? %>
<% redirect_to root_path %>
<% else %>
You are not currently signed in
<% end %>
		<!-- Menu end -->




<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %></td>



</body>
</html> 

        
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
    | <a href="http://blank">KarlandRichApps</a> 
    </div>
  </div>
</body>
</html>


